<div class="container">
  <header class="header">header</header>
  <main class="main">
    <tng-breadcrumbs />
    <div class="content">
      <div class="card-1">card-1</div>
      <div class="card-2">card-2</div>
      <div class="card-3">card-3</div>
      <div class="card-4">card-4</div>
      <div class="card-5">card-5</div>
      <div class="card-6">card-6</div>
      <div class="card-7">card-7</div>
      <div class="card-8">card-8</div>
      <div class="card-9">card-9</div>
      <div class="card-10">card-10</div>
    </div>
  </main>
  <footer class="footer">Footer</footer>
</div>
